<div id="hero" class="relative isolate pt-14 -mb-24">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <!-- class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#FF9800] to-[#03A9F4] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" -->
    
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff9800] to-[#03a9f4] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);"
      >
    </div>
    <!-- style="clip-path: polygon(0% 15%, 10% 48%, 15% 0%, 85% 0%, 40% 41%, 77% 53%, 100% 100%, 37% 94%, 36% 56%, 15% 100%, 27% 36%, 0 75%);" -->
    <!-- style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"> -->
  </div>
  <div class="py-24 sm:py-28 lg:pb-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl sm:text-6xl font-bold tracking-tight bg-clip-text text-transparent hx-bg-gradient-to-r hx-from-gray-900 hx-to-gray-600 dark:hx-from-gray-100 dark:hx-to-gray-400">
          {{ .Get "title" | default .Page.Title }}
        </h1>
        <br />
        <p class="mt-6 text-lg leading-8 hx-text-gray-600 dark:hx-text-gray-400">{{ .Get "subtitle" | default .Page.Description }}</p>
        
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href='{{ .Get "url" }}' target="_blank" class="text-sm font-semibold  text-gray-900 dark:hx-text-gray-400 border border-1 border-gray-700 rounded-md px-3.5 py-2.5 shadow-sm hover:bg-blue-700" style="text-decoration: none;background: #1b88ed;color: white;border-color: #03A9F4;">Join the Waitlist <span
              aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="mt-16 flow-root sm:mt-24">
        <div class="rounded-xl bg-gray-900/5 ring-1 ring-inset ring-gray-900/10 lg:rounded-2xl">
          <img src='{{ .Get "image" | .Page.Resources.Get }}' alt="App screenshot" width="2432" height="1442"
            class="rounded-md">
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true">
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>
</div>